@using System.Security.Claims
@{
    ViewBag.Title = "Claims";
}
<h2>@ViewBag.Title</h2>

<h4>Claims Present in the Claims Identity:</h4>

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Claim Type</th>
        <th>Claim Value</th>
    </tr>

    @foreach (Claim claim in ClaimsPrincipal.Current.Claims.OrderBy(c => c.Type))
    {
        <tr>
            <td class="claim-type claim-data">@claim.Type</td>
            <td class="claim-data"><div style="max-width:450px;overflow-x:hidden;text-overflow:ellipsis">@claim.Value</div></td>
        </tr>
    }
</table>