<?xml version="1.0"?>
<appSettings>
  <!-- AD B2C Tenant's Domain Name -->
  <add key="ida:Tenant" value="[tenant_name].onmicrosoft.com" />

  <!-- AAD B2C Application Settings -->
  <!-- "Application ID" of an application -->
  <add key="ida:ClientId" value="[application_id]" />

  <!-- App ID Uri -->
  <add key="api:ApiIdentifier" value="https://[tenant_name].onmicrosoft.com/[app_uri_identifier]" />

  <!-- Application Reply URL -->
  <add key="ida:RedirectUri" value="https://localhost:44313/" />

  <!-- App Key: under Application -> Keys on portal-->
  <add key="ida:ClientSecret" value="[application_secret]" />

  <!-- AAD B2C OpenId configuration url, expects two placeholders: 
       {0}: Tenant 
       {1}: The Signupsignin policy id
  -->
  <add key="ida:AadInstance" value="https://login.microsoftonline.com/tfp/{0}/{1}/v2.0/.well-known/openid-configuration" />

  <!-- AD B2C Tenant Policies  -->
  <add key="ida:SignUpSignInPolicyId" value="[signup_signin_policy_name]" />
  <add key="ida:EditProfilePolicyId" value="B2C_1_profile-edit" />
  <add key="ida:ResetPasswordPolicyId" value="B2C_1_password-reset" />
  <add key="ida:RopcPolicyId" value="B2C_1_resource-owner" />

  <!-- Application's Published Scopes -->
  <!-- They have to be created first on Published Scopes menu, and then added 
         on the API Access menu as Permitted scopes for the given application -->
  <add key="api:ReadScope" value="read" />
  <add key="api:WriteScope" value="write" />

  <!-- Uncomment the localhost url if you want to run the API locally -->
  <add key="api:TaskServiceUrl" value="https://localhost:44332/" />

  <!--
     These are the application's Id and secret that were created on the [Azure Active Directory -> App Registrations] blade of the tenant, 
     to be used for the GraphAPI client -they were NOT created on [Azure AD B2C] blade.
     NOTE: The application has to be granted permission "Read and write directory data" in order to have access create/update users etc.
    -->
  <add key="aad:GraphClientId" value="[AAD_Application_ID]" />
  <add key="aad:GraphClientSecret" value="[AAD_Application_Key]" />
</appSettings>