<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=WideWorldImporters;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add  key="applicationId" value="983792b8-f77b-462a-9b1a-d2ac39a0fe3e" />
    <add key="applicationSecret" value="wpc4YM69FJzzIoOxj7VkMz67IMC77wenL18wFEpGLhg=" />
    <add key="tenant" value="azureheadsb2c.onmicrosoft.com"/>
  </appSettings>
</configuration>