<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=WideWorldImporters;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <!--
     These are the application's Id and secret that were create on the [Azure Active Directory -> App Registrations] blade, NOT on [Azure AD B2C] blade.
     NOTE: The application has to be granted permission "Read and write directory data" in order to have access create/update users etc.
     NOTE #2: In order for the application be granted permission to delete Users, the powershell script included in the solution AzureHeadsB2c-GrantDelete.ps1
              has to run using a local (to the tenant) admin user.
    -->   
    <add key="applicationId" value="983792b8-f77b-462a-9b1a-d2ac39a0fe3e" />
    <add key="applicationSecret" value="wpc4YM69FJzzIoOxj7VkMz67IMC77wenL18wFEpGLhg=" />
    <add key="tenant" value="azureheadsb2c.onmicrosoft.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>