<?xml version="1.0"?>
<appSettings>
  <!-- NOTE: AD B2C Tenant and ClientId (Application Id) and SignUnSigInPolicyId must match the ones configured in the WebApp -->
  
  <!-- AD B2C Tenant's Domain Name -->
  <add key="ida:Tenant" value="trainingadb2c.onmicrosoft.com" />

  <!-- AAD B2C Application Settings -->
  <!-- "Application ID" of an application -->
  <add key="ida:ClientId" value="c29b081b-836a-4de1-8910-e6bb252fd961" />

  <!-- AAD B2C OpenId configuration url, expects two placeholders: 
       {0}: Tenant 
       {1}: The Signupsignin policy id
  -->
  <add key="ida:AadInstance" value="https://login.microsoftonline.com/tfp/{0}/{1}/v2.0/.well-known/openid-configuration" />

  <!-- AD B2C Tenant Policies  -->
  <add key="ida:SignUpSignInPolicyId" value="B2C_1_web-user" />

  <!-- Application's Published Scopes -->
  <!-- They have to be created first on Published Scopes menu, and then added 
         on the API Access menu as Permitted scopes for the given application -->
  <add key="api:ReadScope" value="read" />
  <add key="api:WriteScope" value="write" />


  <add key="aad:Tenant" value="niantonoutlook.onmicrosoft.com" />
  <add key="aad:AadInstance" value="https://login.windows.net/{0}/.well-known/openid-configuration" />
  <add key="aad:Audience" value="https://niantonoutlook.onmicrosoft.com/b2c-provider" />
</appSettings>