<?xml version="1.0"?>
<appSettings>
  <!-- AD B2C Tenant's Domain Name -->
  <add key="ida:Tenant" value="[tenant_name].onmicrosoft.com" />

  <!-- AAD B2C Application Settings -->
  <!-- "Application ID" of an application -->
  <add key="ida:ClientId" value="[application_id]" />

  <!-- App ID Uri -->
  <add key="api:ApiIdentifier" value="https://[tenant_name].onmicrosoft.com/[app_uri_identifier]" />

  <!-- Application Reply URL -->
  <add key="ida:RedirectUri" value="https://localhost:44313/" />

  <!-- App Key: under Application -> Keys on portal-->
  <add key="ida:ClientSecret" value="[application_secret]" />

  <!-- AAD B2C OpenId configuration url, expects two placeholders: 
       {0}: Tenant 
       {1}: The Signupsignin policy id
  -->
  <add key="ida:AadInstance" value="https://login.microsoftonline.com/tfp/{0}/{1}/v2.0/.well-known/openid-configuration" />

  <!-- AD B2C Tenant Policies  -->
  <add key="ida:SignUpSignInPolicyId" value="[signup_signin_policy_name]" />
  <add key="ida:EditProfilePolicyId" value="[profile_edit_policy_name]" />
  <add key="ida:ResetPasswordPolicyId" value="[password_reset_policy_name]" />
  <add key="ida:RopcPolicyId" value="[ropc_policy_name]" />
  
  <!-- Application's Published Scopes -->
  <!-- They have to be created first on Published Scopes menu, and then added 
         on the API Access menu as Permitted scopes for the given application -->
  <add key="api:ReadScope" value="read" />
  <add key="api:WriteScope" value="write" />

  <!-- Uncomment the localhost url if you want to run the API locally -->
  <add key="api:TaskServiceUrl" value="https://localhost:44332/" />
  <!--<add key="api:TaskServiceUrl" value="https://azureheadsb2c-webapi.azurewebsites.net/" />-->
</appSettings>