<?xml version="1.0"?>
<appSettings>  
  <!-- AD B2C Tenant's Domain Name -->
  <add key="ida:Tenant" value="trainingadb2c.onmicrosoft.com" />

  <!-- AAD B2C Application Settings -->
  <!-- "Application ID" of an application -->
  <add key="ida:ClientId" value="c29b081b-836a-4de1-8910-e6bb252fd961" />
  
  <!-- App ID Uri -->
  <add key="api:ApiIdentifier" value="https://trainingadb2c.onmicrosoft.com/app-dev/" />

  <!-- Application Reply URL -->
  <add key="ida:RedirectUri" value="https://localhost:44316/" />

  <!-- App Key: under Application -> Keys on portal-->
  <add key="ida:ClientSecret" value="F}Q[F#0K3b3,I3B3SGyq;4k5" />

  <!-- AAD B2C OpenId configuration url, expects two placeholders: 
       {0}: Tenant 
       {1}: The Signupsignin policy id
  -->
  <add key="ida:AadInstance" value="https://login.microsoftonline.com/tfp/{0}/{1}/v2.0/.well-known/openid-configuration" />

  <!-- AD B2C Tenant Policies  -->
  <add key="ida:SignUpSignInPolicyId" value="B2C_1_web-user" />
  <add key="ida:EditProfilePolicyId" value="B2C_1_edit-profile" />
  <add key="ida:ResetPasswordPolicyId" value="B2C_1_passwd-reset" />
  <add key="ida:RopcPolicyId" value="B2C_1_resource-owner" />
  
  <!-- Application's Published Scopes -->
  <!-- They have to be created first on Published Scopes menu, and then added 
         on the API Access menu as Permitted scopes for the given application -->
  <add key="api:ReadScope" value="read" />
  <add key="api:WriteScope" value="write" />

  <!-- Uncomment the localhost url if you want to run the API locally -->
  <add key="api:TaskServiceUrl" value="https://localhost:44332/" />
  <!--<add key="api:TaskServiceUrl" value="https://trainingadb2c-webapi.azurewebsites.net/" />-->


  <add key="aad:Tenant" value="niantonoutlook.onmicrosoft.com" />
  <add key="aad:ClientId" value="326da465-cb09-46b7-b569-09ee43f97880" />
  <add key="aad:AadInstance" value="https://login.windows.net/{0}/.well-known/openid-configuration" />
  <add key="aad:Audience" value="https://niantonoutlook.onmicrosoft.com/b2c-provider" />
</appSettings>